<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Highlight Text</title>
    <style>
        [class^='KeyHighlight'] { background-color: yellow; }
        [class^='PointHighlight'] { background-color: lightgreen; }
        
        input[type='checkbox'] { position: absolute; left: -3000% }
        input[type='checkbox'] + label { display : inline-block; background: #CCCCCC; border-radius: 30px;}
        input[type='checkbox']:before + label {content: ''; }
        input[type='checkbox']:checked + label {content: ''; background: #FFEB9B;}
        
    </style>
</head>
<body>
    <div>
        <button type="submit" name="to_home" onclick="window.location.href='/decom'">Go to Main Page</button>
        <button type="submit" name="to_db_test" onclick="window.location.href='/db_test'">Go to DB Test</button>
    </div>

    <h3>지문을 입력해주세요.</h3>
    <form name='text_area' action="/decom" method="post">
        <p><textarea type="text" name="decomp" id="input" cols="50" rows="10"></textarea></p>
        <p><input type="submit" value="분해"></p>
    </form>
    {{sent_list}}
    
    <div style="width:800px;">
        {% for s in output_list %}
            {% for s_k, s_v in s.items() %}
                <div>
                    <form id="frm_{{s_k}}" name="frm_{{s_k}}" action="/decom" method="POST">
                        {% for w_k, w_v in s_v.items() %}
                            {{ w_v }}
                        {% endfor %}
                        
                        <br>
                        <button type="button" onclick="setHighlight('KeyHighlight_{{s_k}}')">Key</button>
                        <button type="button" onclick="setHighlight('PointHighlight_{{s_k}}')">Point</button>
                        <button type="button" onclick="removeHighlight({{s_k}})">모두 제거</button>
                        <button onclick="showHighlighted({{s_k}})">저장</button>
                        <br>
                        <div id="result-container_{{s_k}}"></div>
                        <div id="result"></div>
                        
                        <input type="hidden" id="yellowHighlightVal" name="key" value="" />
                        <input type="hidden" id="greenHighlightVal" name="point" value="" />
                    </form>
                </div>
            {% endfor %}
        {% endfor %} 
    </div>

    <script>

        function setHighlight(className) {
            var selection = window.getSelection().getRangeAt(0);
            var selectedText = selection.extractContents();
            var span = document.createElement('span');
            
            span.className = className; // 
            span.appendChild(selectedText);
            selection.insertNode(span);

            var highlightedWords = document.querySelectorAll("." + className);
            var words = "";
            for (var i = 0; i < highlightedWords.length; i++) {
                words += highlightedWords[i].innerText + ", ";
            }
        }

        function removeHighlight(s_k) {
            var remove_check = '.KeyHighlight_' + s_k + ', ' + '.PointHighlight_' + s_k;
            var highlighted = document.querySelectorAll(remove_check);
            for (var i = 0; i < highlighted.length; i++) {
                var parent = highlighted[i].parentNode;
                while (highlighted[i].firstChild) {
                    parent.insertBefore(highlighted[i].firstChild, highlighted[i]);
                }
                parent.removeChild(highlighted[i]);
            }
        }

        function showHighlighted(s_k) {
            var yellowWords = document.querySelectorAll('.KeyHighlight_'+s_k);
            var greenWords = document.querySelectorAll('.PointHighlight_'+s_k);
            
            var yellowContainer = document.createElement('div');
            var greenContainer = document.createElement('div');
            
            yellowContainer.innerHTML = '<h3>KeyWord</h3>';
            greenContainer.innerHTML = '<h3>PointWord</h3>';
            
            for (var i = 0; i < yellowWords.length; i++) {
              yellowContainer.appendChild(yellowWords[i].cloneNode(true));
            }
            
            for (var i = 0; i < greenWords.length; i++) {
              greenContainer.appendChild(greenWords[i].cloneNode(true));
            }
            
            var resultContainer = document.getElementById('result-container_'+s_k);
            resultContainer.innerHTML = '선택한 단어 확인';
            resultContainer.appendChild(yellowContainer);
            resultContainer.appendChild(greenContainer);
            
            $("#yellowHighlightVal").val(yellowContainer);
            $("#greenHighlightVal").val(greenContainer);
            
            var frm = document.frm_0; 
            frm.submit();
          }
    </script>

</body>
</html>