<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid gold; background-color: #F3E5AB; width:400px; margin:0 auto; padding: 10px;">
        <u><b>{{message}}</b></u>
        
        <p>
            10Mb보다 작은 파일로 부탁해요 :]
        
            <form action = "/kakao/" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>
        </p>
    </div>

    

</body>
</html>