<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ db_items }}

    <table>
        {% for item in db_items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.para }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="/test" method="post">
        <p><button type="submit" name="db_remove">DB 삭제</button></p>
    </form>

</body>
</html>