<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div style="width:410px;">
        <div style="border: 1px solid blue; float: left; width: 49.5%;">
            <table>
            {% for k_item in K_items %}
                <tr>
                    <td>{{ k_item.id }}</td>
                    <td>{{ k_item.key }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div style="border: 1px solid rgba(255, 0, 89, 0.491); float: left; width: 49.5%;">
            <table>
                {% for p_item in P_items %}
                    <tr>
                        <td>{{ p_item.k_id }}</td>
                        <td>{{ p_item.point }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</body>
</html>